html {
  box-sizing: border-box;
}
*,
*:before,
*:after{
box-sizing: inherit;
}
body{
  padding: 0;
  display: flex;
  background: 333 ;
  min-height: 100vh;
  background: linear-gradient(135deg,#000000 0%,#333 48%, #686868 100%);
  background-size:cover ;
  align-items: center;
  justify-self: center;

}

/*the play bar style*/
.video-player {
  max-width: 750px;
  position: relative;
  overflow: hidden;
 margin: auto;
}
.video{
  width: 100%;
}
.player-controls{
  display: flex;
  position: absolute;
  bottom: 0%;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.6);

}
.video-player:hover .player-controls{
  transform: translateY(0%);
}
/*time style*/
.time {
  font-size: 1rem;
  color: white;
  width: 15%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button style */
.play-button{
  width: 10%;
  border: none;
  background: black;
  color: #fff;
  padding: 10px;
}
.play-button:focus{
  outline: none;
}
/* volume range style */
input[type='range']{
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
  width: 67%;
  padding: 0 10px;
}
input[type='range']:focus{
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track{
width: 100%;
height: 10px;
cursor: pointer;
background: black;
}
input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  height:10px;
  width: 10px;
  background: orangered;
  cursor: pointer;

  }
/*progress bar style*/
.video-progress{
  position: relative;
  display: flex;
  width: 100%;
  height: 5px;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.video-progress-filled{
  width: 0;
  background: orangered;
}
.video-player:hover .video-progress{
  height:15px
}
/*styling another div for our bar*/
.inner-player-controls{
  width: 100%;
  display: flex;
}
/*styling mute button*/
.mute{
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.mute.muted{
  opacity: 0.5;
}
.mute .slash{
 position: absolute;
 width: 2px;
 height: 50%;
 background: white;
 transform: rotate(-50deg);
 display: none;
}
.mute.muted .slash{
display: block;

}
.control-button{
  background: transparent;
  color: #fff;
  border: none;
}
